* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  color: white;
  padding: 15px 30px;
  top: 0;
  /* z-index: 1000; */
  height: auto;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links > a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links > a:hover {
  color: #38bdf8;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
  width: 40%;
  height: 40px;
}

.nav-right > input {
  padding: 6px 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 100%;
}

.search {
  padding: 6px 12px;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  height: 100%;
}

.search:hover {
  background: #0ea5e9;
}


.menu-icon {
  display: none;
  font-size: 22px;
  cursor: pointer;
}



/* Container */
#log-register {
  display: flex;
  gap: 20px;
  justify-content: flex-end; /* right side */
  align-items: center;
  padding: 10px 20px;
}

/* Link */
#log-register a {
  text-decoration: none;
  color: #667eea;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

/* /* Hover  */
#log-register a:hover {
  background: #667eea;
  color: #fff;
}


